{empty name="list"}
<div class="text-info text-center lead">我是有底线的</div>
{else/}
{volist name="list" id="notice" child="true"}
<div class="container-fluid">
    <div class="row noticeList">
        <a href="{:url('Shop/detail?id='.$notice['id'])}">
            <div class="col-xs-2">
                <img class="noticeImg" src="{:get_cover($notice['cover_id'],$field = path)}" alt="该图片被外星人拉走了"/>
            </div>
            <div class="col-xs-10">
                <p class="title">{$notice.title}</p>
                <p class="intro">{$notice.description}</p>
                <p class="info">浏览: {$notice.view} <span class="pull-right">{$notice.create_time}</span> </p>
            </div>
        </a>
    </div>
</div>
{/volist}
<div class="text-center">
    <button type="button" class="btn btn-default btn_load btn-block" onclick="loadPage({$no})">获取跟多~~~</button>
</div>
{/empty}

